<header>
  
  <nav>
        <div class="navtitle">
          Allergy Recipe Book
        </div>
        <div class="navlinks">
          <a href="/"><span>Home</span></a>
            <a href="/recipes/viewall"><span>View All</span></a>
            <a href="/user/signup"><span>Signup</span></a>
            <% if(!isLoggedIn){ %>
            <a href="/user/login"><span>Login</span></a>
            <% }else{ %>
              <a href="/user/logout"><span>Logout</span></a>
            <%} %>
      </div>
  </nav>

  
</header>
