<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <%- include("./partials/nav.ejs", {isLoggedIn:false}) %>
  <div class="mainBody">
  <body>
    <main>
      <span>
        <div class="homeTitle">
        <h4>About Me</h4>
      </div>
      <div class="homeP">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate placeat repudiandae corporis, tempore dolore quibusdam ducimus quae at asperiores amet, sint impedit minima unde voluptatum voluptatem voluptatibus ipsa? Laboriosam, placeat!</p>
      </div>
      </span>
      
      <span>
        <h3>How It Works</h3>
      </span>
    </main>
  </body>
</div>
</html>