<!DOCTYPE html>
<html lang="en">
  
  <%- include("./partials/header.ejs") %>
  <div class="mainBody">
  <body>
    <%- include("./partials/head.ejs") %>
    
    <main>
      <span>
        <h4>About Me</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate placeat repudiandae corporis, tempore dolore quibusdam ducimus quae at asperiores amet, sint impedit minima unde voluptatum voluptatem voluptatibus ipsa? Laboriosam, placeat!</p>
      </span>
      
      
    </main>
  </body>
</div>
</html>