<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <%- include("./partials/nav.ejs", {isLoggedIn:false}) %>
  <div class="mainBody">
  <body>
    <main>
      <span>
        <div class="homeTitle">
        <h3>About Me</h3>
      </div>
      <div class="homeP">
        <p>In 2019 we became a food allergy family. My son suffered a server allergic reaction to peanut butter while traveling back from a family vacation.  Every meal we prepare and consume since has been filled with anxiety about his food allergies.  I have created this app with my son and other food allergy friends in mind.  Having a quick recipe app that saves your favorite and most importantly "safe" recipes was the goal. </p>
      </div>
      </span>
      
      
    </main>
  </body>
</div>
<%- include("./partials/footer.ejs") %>
</html>