/*{
  border: 2px solid red;
}*/




header{
  text-align:center;
}


nav {
  background-color: #f6f6f6;
  justify-content: space-around;
  color:teal;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
  margin: 5px;
}
.navtitle{
  justify-content: left;
  font-family:"Sofia", sans-serif; 
  font-size: 50px;
  text-shadow: 1px 1px gray;
}
.navlinks{
  justify-content:left;
}

.navlinks > a {
  margin: 50px;
}



.homeP{
  display: flex;
  justify-content: center;
  color: black;
  background-color:tan;
  width: 350px;
  margin: 30px;
  padding: 20px;
  border: 2px;
  border-radius: 2px;
}

.homeTitle{
  display: flex;
  justify-content: center;
  color: black;
  margin: 20px;
}


.mainBody{
  display: flex;
  background-image: url(/static/images/backgroundimg.jpg);
  height: 100%;
  opacity: 10;
  justify-content: center;
  background-size: cover;
}


#recipesContainer{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

#newRecipeLink{
  display: flex;
  justify-content: center;
  color: orange; 
  text-shadow: 1px 1px gray;
  height: auto;
  width: 100%;
  font-size: 30px;
  margin-bottom: 25px;
}

.recipesContainer{
  text-align: center;
  font-size: 50px;
  display:flex;
  flex-wrap:wrap;
  justify-content: center; 
  margin: 20px;
}

.recipeCard{
  position: relative;
  padding:5px;
  border-radius:8px;
  margin: 5px;
  background-color: tan;
  height: 400px;
  width: 400px;
  box-shadow: 3px 3px; 
}

.recipeImg{
  display: flex;
  justify-content: center;
  margin-top: 0px;
  border-radius: 8px;
}

.recipeCardButtons{
  border-radius: 0 0 8px 8px;
  width: 100%;
  padding: 0px;
}

#deleteLink{
  justify-content: center;
  margin-top: 5px;
  margin-right: 10px;
  font-size: 16px;
}

.iconcontainer{
  display:flex; 
  justify-content: center; 
  width: 100%; 
  height: 70px;
}

.detailsCard{
  position: relative;
  padding:5px;
  border-style: solid;
  border-radius:8px;
  border: 2px 2px;
  border-color: black;
  margin: auto;
  height: 300px;
  width: 450px;
  box-shadow: 2px 2px;
  overflow: auto;
}

.recipeCardHeader{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  font-size:60px; 
}

.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.icons{
  display: flex;
}

@media (max-width: 1080px){

  .navlinks > a {
    margin: 10px;
  }
}

@media (max-width: 600px){

  .navtitle{
    font-size: 23px;
  }
  .navlinks > a {
    margin: 2px;
    font-size: 12px;
  }
  
  .icons{
    font-size: 15px;
    display: block;
  }
  h3{
    font-size: 20px;
  }
  
}