header{
  text-align:center;
}


nav {
  background-color: #f6f6f6;
  justify-content: space-around;
  color:teal;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
  margin: 5px;
}

h1{
  
}
.mainBody{
  background-color: aqua;
  height: 400px;
  

}

#recipesContainer{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

