/*{
  border: 2px solid red;
}*/




header{
  text-align:center;
}


nav {
  background-color: #f6f6f6;
  justify-content: space-around;
  color:teal;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
  margin: 5px;
}
.navtitle{
  justify-content: left;
  font-family:"Sofia", sans-serif; 
  font-size: 50px;
  text-shadow: 1px 1px gray;
}
.navlinks{
  justify-content:left;
}

.navlinks > a {
  margin: 50px;
}



.homeP{
  display: flex;
  justify-content: center;
  color: black;
  background-color:tan;
  width: 350px;
  margin: 30px;
  padding: 20px;
  border: 2px;
  border-radius: 2px;
}

.homeTitle{
  display: flex;
  justify-content: center;
  color: black;
  margin: 20px;
}


.mainBody{
  display: flex;
  background-image: url(https://attachment.outlook.live.net/owa/MSA%3Akayfernander%40hotmail.com/service.svc/s/GetAttachmentThumbnail?id=AQMkADAwATY0MDABLWQ2OWItMTk1Yi0wMAItMDAKAEYAAAMdBDeQeQxuRqdTwM%2F8EvJQBwDHjNhfsmp6Tbopyp6UxFKdAAACAQwAAADHjNhfsmp6Tbopyp6UxFKdAAbZDIQcAAAAARIAEACYbvp%2FHBJATaAx8qbLSZn2&thumbnailType=2&isc=1&token=eyJhbGciOiJSUzI1NiIsImtpZCI6IkQ4OThGN0RDMjk2ODQ1MDk1RUUwREZGQ0MzODBBOTM5NjUwNDNFNjQiLCJ0eXAiOiJKV1QiLCJ4NXQiOiIySmozM0Nsb1JRbGU0Tl84dzRDcE9XVUVQbVEifQ.eyJvcmlnaW4iOiJodHRwczovL291dGxvb2subGl2ZS5jb20iLCJ1YyI6ImU1ZTc2ZTFjMGY3MjQyNTE4YzcwZDMzZjk3Y2U2MDVjIiwidmVyIjoiRXhjaGFuZ2UuQ2FsbGJhY2suVjEiLCJhcHBjdHhzZW5kZXIiOiJPd2FEb3dubG9hZEA4NGRmOWU3Zi1lOWY2LTQwYWYtYjQzNS1hYWFhYWFhYWFhYWEiLCJpc3NyaW5nIjoiV1ciLCJhcHBjdHgiOiJ7XCJtc2V4Y2hwcm90XCI6XCJvd2FcIixcInB1aWRcIjpcIjE3NTkyMjIyMDQ5MzAzOTVcIixcInNjb3BlXCI6XCJPd2FEb3dubG9hZFwiLFwib2lkXCI6XCIwMDA2NDAwMC1kNjliLTE5NWItMDAwMC0wMDAwMDAwMDAwMDBcIixcInByaW1hcnlzaWRcIjpcIlMtMS0yODI3LTQwOTYwMC0zNjAwNDg4Nzk1XCJ9IiwibmJmIjoxNjcwODY4NjQ3LCJleHAiOjE2NzA4NjkyNDcsImlzcyI6IjAwMDAwMDAyLTAwMDAtMGZmMS1jZTAwLTAwMDAwMDAwMDAwMEA4NGRmOWU3Zi1lOWY2LTQwYWYtYjQzNS1hYWFhYWFhYWFhYWEiLCJhdWQiOiIwMDAwMDAwMi0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAvYXR0YWNobWVudC5vdXRsb29rLmxpdmUubmV0QDg0ZGY5ZTdmLWU5ZjYtNDBhZi1iNDM1LWFhYWFhYWFhYWFhYSIsImhhcHAiOiJvd2EifQ.pdydWvNZPPFVVauNKjS-0xeJYPGkfoH3bnOHMQbj7nc4BaNqZFVSObaccVnRP0ggrdODmW90KpSrpVwLJ3iSjmDL4YPK4aBbxbhr-V38W7HQqaO1P10MZHf7XAjwW7R38tjxd96hunSX-T2pVvUut5qxpzDn6uaM7_vRPRBYtuYOxZxAqHUPDeQtZr5MJUxch044EUEiQUhwfNwBfDtCPa7L8tCrF70J4QmS7YyTNMDixAtexZs1pky-TI6ZS22L91AARwta3t39hM6pyZbGuy39ba9agXxV93CQAfDUtjjtdGt0UjvCh0UO5yZtRJRBNBjnXXXoArEsfdYYjszHxQ&X-OWA-CANARY=p1UcQQu4aE2D5Ck4zL665WDe7Kls3NoYxDZGMKiZ30ifT-UoFfb07VRWnpIuSkUXI7Uz8eWiiwY.&owa=outlook.live.com&scriptVer=20221104009.06&animation=true);
  height: 100%;
  opacity: 10;
  justify-content: center;
  background-size: cover;
}


#recipesContainer{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

#newRecipeLink{
  display: flex;
  justify-content: center;
  color: orange; 
  text-shadow: 1px 1px gray;
  height: auto;
  width: 100%;
  font-size: 30px;
  margin-bottom: 25px;
}

.recipesContainer{
  text-align: center;
  font-size: 50px;
  display:flex;
  flex-wrap:wrap;
  justify-content: center; 
  margin: 20px;
}

.recipeCard{
  position: relative;
  padding:5px;
  border-radius:8px;
  margin: 5px;
  background-color: tan;
  height: 400px;
  width: 400px;
  box-shadow: 3px 3px; 
}

.recipeImg{
  display: flex;
  justify-content: center;
  margin-top: 0px;
  border-radius: 8px;
}

.recipeCardButtons{
  border-radius: 0 0 8px 8px;
  width: 100%;
  padding: 0px;
}

#deleteLink{
  justify-content: center;
  margin-top: 5px;
  margin-right: 10px;
  font-size: 16px;
}
.iconcontainer{
  display:flex; 
  justify-content: center; 
  width: 100%; 
  height: 70px;
}

.detailsCard{
  position: relative;
  padding:5px;
  border-style: solid;
  border-radius:8px;
  border: 2px 2px;
  border-color: black;
  margin: auto;
  height: 300px;
  width: 450px;
  box-shadow: 2px 2px;
  overflow: auto;
}

.recipeCardHeader{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  font-size:60px; 
}

.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}


@media (max-width: 1080px){

  .navlinks > a {
    margin: 10px;
  }
}

@media (max-width: 600px){

  .navtitle{
    font-size: 23px;
  }
  .navlinks > a {
    margin: 2px;
    font-size: 12px;
  }
  
  .icons{
    font-size: 15px;
  }
  h3{
    font-size: 20px;
  }
  
}