<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header.ejs') %>

    <body>
        <%- include('../partials/head.ejs') %>


        <main>
            <div id="recipesContainer">
                <div>
                    <span>Recipe 1</span>
                    <span>recipe image</span>
                </div>
                <div>
                    <span>Recipe 2</span>
                    <span>recipe image</span>
                </div>
                <div>
                    <span>Recipe 3</span>
                    <span>recipe image</span>
                </div>
            </div>
        </main>
    </body>
</html>