<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header.ejs') %>
    <h1>New Recipe Card</h1>
    <body>
        <%- include('../partials/head.ejs') %>
        <form action="/recipes" method="POST">

          <div>
            Image: <input type="url" name="img"><br>
          </div>
          <div>
            Ingredients: <input type="text" name="ingredients"> <br>
            <ul style=>
                
            </ul>         
          </div>
          <div>
            Food Allergy: <input type="text" name="foodallergy"><br>
          </div>
              <div>
                Directions: <input type="text" name="directions"><br>
              </div>
              <div>
                Notes: <input type="text" name="notes"><br>
              </div>
            
              
            <div> 
            <input type="submit" value="submit recipe card">
          </div>

      </form>
    </body>
</html>