<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <script src="/static/app.js" defer></script>
    <%- include('../partials/nav.ejs', {isLoggedIn:true}) %>
    <h1>New Recipe Card</h1>
    <body>
        <style>
          button.link{
            color: blueviolet;
            background: none; border: none; margin: 0; padding: 0; cursor: pointer;
          }
        </style>
        <form action="/recipes" method="POST">
          <input type="hidden" name="user" value="<%=userId%>" />
          <div>
            Name: <input type="text" name="name"><br>
            Image: <input type="url" name="img"><br>
          </div>
          <div>
            <ul id="ingredientsList">
            Ingredients: <button class="link" type="button" onclick=addNextIngredientClick()>Add Next Ingredient</button>
              <li><input type="text" name="ingredients" style="width: 300px;"> 
                <button class="link" type="button" onclick=removeIngredientClick(this)>Remove Ingredient</button></li>
            </ul>         
          </div>
          <div>
            <ol id="directionsList">
            Directions: <button class="link" type="button" onclick=addNewStepClick()>Add New Step</button>
            <li><input type="text" name="directions" style="width: 6t00px;">
              <button class="link" type="button" onclick=removeDirectionStepClick(this)>Remove Step</button></li>
            </ol>
          </div>
          <div>
            Notes: <textarea name="notes"></textarea>
          </div>
            <div> 
            <input type="submit" value="submit recipe card">
          </div>

      </form>
    </body>
</html>