<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header.ejs') %>

    <body>
        <%- include('../partials/head.ejs') %>

      <h2>showing one recipe card</h2>
        <main>
          <div>
            Image: <input type="url" name="img"><br>
          </div>
            <div id="directionsContainer">
              Directions: <input type="text" name="directions"><br>   
            </div>
            <div id="allergenContainer">
              Food Allergy: <input type="text" name="foodallergy"><br>
            </div>
            <div id="notesContainer">
                Notes: <input type="text" name="notes"><br>
              </div>
              
          <div> 
            <input type="submit" value="Edit">
          </div>
                <div>
                    <span>Recipe 1</span>
                    <span>recipe image</span>
                </div>
            </div>
        </main>
    </body>
</html>

