<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header.ejs') %>

    <body>
        <%- include('../partials/head.ejs') %>


        <main>
            <div id="instructionContainer">
                
            </div>
            <div id="allergenContainer">

            </div>
            <div id="recipeContainer">
                <div>
                    <span>Recipe 1</span>
                    <spign>recipe image</span>
                </div>
            </div>
        </main>
    </body>
</html>